<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
<div>
<!--    Create a new table each time filling it with the following data-->
<!--  job: This is a variable name that you can use inside the loop to refer to each individual object-->
<!--    jobs is the collection of objects from job and the template housing them ListController-->
    <table th:each="job: ${jobs}" class="job-listing">
<!--Adding the CSS class "job-listing" to a table provides some nice styling, courtesy of Carly’s work!-->
<!-- The th:each attribute is used to iterate over a list of Job
objects passed to the template from the ListController-->
<!--The ListController takes the list of job objests from the .csv  file and passes it through the model object to be
used and now populates an HTML table with the data -->
<!--Here we are using the getter methods-->
        <tr>
            <th>ID</th>
            <td th:text="${job.getId()}"></td>
<!--Also Remember we are using the Getters from the Job Model class -->
<!--the empty parentheses (), indicate that the getters are being brought in as methods rather than as fields.-->
            </tr>
        <tr>
            <th>Name</th>
            <td th:text="${job.getName()}"></td>
<!-- ${job.getId()} calls the getId() method of the Job object to retrieve its ID value.-->
        </tr>
        <tr>
            <th>Employer</th>
            <td th:text="${job.getEmployer()}"></td>
            </tr>
        <tr>
            <th>Location</th>
            <td th:text="${job.getLocation()}"></td>
            </tr>
        <tr>
            <th>Position Type</th>
            <td th:text="${job.getPositionType()}"></td>
        </tr>
        <tr>
            <th>Skill</th>
            <td th:text="${job.getCoreCompetency()}"></td>
        </tr>
        </table>
    </div>
    </div>


</body>
</html>